html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    background-color: rgb(21, 44, 103);
    padding: 20px 10px;
    border: 3px solid gray;
    border-radius: 10px;
}

body {
    background-image: url(https://image.winudf.com/v2/image/Y29tLmhkcG9rZW1vbi53YWxscGFwZXJfc2NyZWVuXzZfMTUzMDE2Nzk0MV8wNjY/screen-6.jpg?fakeurl=1&type=.jpg);
    background-size: cover;
    align-items: center;
}

h1 {
    display: flex;
    color: rgb(238, 208, 39);
    text-shadow: 1px 0 black, 0 2px black, 2px 0 black, 0 1px black;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: black;
}

.cardsContainer {
    text-align: center;
    max-width: 1400px;
}

.cards {
    margin: 4px;
    border-radius: 10px;
    text-align: center;
}

.cards:hover {
    transform: translateY(-5px);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.button {
    text-align: center;
    margin: 10px;
}


#button { 
    color: darkcyan;
    background: cornsilk;
    text-align: center;
    font-size: 25px;
    height: 100px;
    width: 80px;
    padding: 6px;
    border: 3px solid darkolivegreen;
    border-radius: 5px;
    cursor: pointer;
}

